<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fody" version="6.7.0" />
  <package id="Google.Protobuf" version="3.21.12" />
  <package id="MethodBoundaryAspect.Fody" version="2.0.149" />
  <package id="Microsoft.Bcl.Numerics" version="8.0.0" />
  <package id="Microsoft.ML" version="4.0.0" manuallyInstalled="true" />
  <package id="Microsoft.ML.CpuMath" version="4.0.0" />
  <package id="Microsoft.ML.DataView" version="4.0.0" />
  <package id="Microsoft.NETCore.Targets" version="1.1.0" />
  <package id="Newtonsoft.Json" version="13.0.3" />
  <package id="OneOf" version="3.0.263" />
  <package id="Protobuf.Text" version="0.7.2" />
  <package id="Razorvine.Pickle" version="1.4.0" />
  <package id="Serilog" version="2.10.0" />
  <package id="Serilog.Sinks.Console" version="4.1.0" />
  <package id="System.CodeDom" version="8.0.0" />
  <package id="System.Collections.Immutable" version="8.0.0" />
  <package id="System.Numerics.Tensors" version="8.0.0" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" />
  <package id="System.Threading.Channels" version="8.0.0" />
  <package id="TensorFlow.NET" version="0.150.0" manuallyInstalled="true" />
  <package id="Word2vec.Tools" version="2.1.0" manuallyInstalled="true" />
</packages>